.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity 0.3s ease;
}

.content {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.clockContainer {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.childrenContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%; /* Adjust this value to move the content down */
}
.sliderContainer {
  align-self: flex-start;
  width: 200px;
}

.sliderLabel {
  color: white;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
